{% extends 'starter-page.html' %}
{% load static %}

     
{% block body %}
    <br><br><br><br><br><br>
 <!----Show image--->
      <h2 class="text-center">Uploaded Images</h2>

       <div class="container">
          <div style="display: flex;
          justify-content:space-between;
          flex-wrap: wrap">
               {% for image in images %}
              <div class="col mb-2">
                  <img src="{{ image.image.url }}" alt="Uploaded Image" style="width: 300px;height:300px"> <br>
                  <p><strong>name :</strong>{{ image.name }}</p>
                  <p><strong>title :</strong>{{ image.title }}</p>


                 
              </div>
           {% endfor %}
          </div>

       </div>
{% endblock %}